.clients{
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    justify-content: start;
    flex-wrap: nowrap;
  }
  
  .clients__text{
    font-family:var(--primary-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    color:var(--primary-color);
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.16;
    }
  }
  
  
  .clients__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition:  border-color var(--transit-time) var(--transition-properties);
    @media screen and (max-width: 767px) {
      width: 210px;
    }
    @media screen and (min-width: 768px) {
      width: 226px;
      
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }
  .clients__icon{
    width: 106px;
    height: 60px;
  }
  .clients__link:hover svg,
  .clients__link:focus svg {
    fill:var(--interactive-color);
  }
  
  .clients__icon{
    fill: #AFB1B8;
    transition: fill var(--transit-time) var(--transition-properties);
  }
  .clients__link:hover,
  .clients__link:focus{border-color: var(--interactive-color);
  }
  .clients__list :not(:last-child){
      @media screen and (min-width: 768px) {
       
      }
      @media screen and (min-width: 1200px) {
      } 
  }
  .clients__list{
    display: flex;
    
    @media screen and (min-width: 1200px){
      display: flex;
      justify-content: center;
      text-align: center;
    }
     @media screen and (max-width: 1199px) {
     margin: -15px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    }
  }
  .clients__item {
    margin: 15px;
    display: flex;
    
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      margin: 15px;
      
    }
    }
}