.portfolio-sektion{padding-top: 94px;
    padding-bottom: 94px;
    
    align-items: center;

   }
   .portfolio-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      justify-content: center;
      margin-bottom: 50px;
    }
   
   &__item:not(:last-child){
    margin-right: 8px;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
   }
   &__item:nth-last-child(2) {
    margin-bottom: 0;
  }
   &__button{
    min-width: 73px;
    border-radius: 4px;
    border-color: var(--rear-background);
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--rear-background);
    transition: color var(--transit-time) var(--transition-properties),var(--transit-time) var(--transition-properties),
      background-color var(--transit-time) var(--transition-properties);
    &:focus,
    &:hover {
      box-shadow: 0 2px 2px 0 #00000012, 0 1px 2px 0 #00000008,
        0 3px 1px 0 #00000010;
      color: var(--header-color);
      background-color: var(--interactive-color);
      cursor: pointer;
    
          }
        }
      }