.icon-block{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rear-background);
    border-radius: 4px;
    margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      width: 450px;}
      @media screen and (min-width: 768px) {
      width: 354px;}
      @media screen and (min-width: 1200px) {
      width: 270px;}
  }
  .priorities{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top   : 94px;
      padding-bottom: 94px;}
  }
  .priorities__icon{
    width: 70px;
    height: 70px;
  }
  .priorities__list{
    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: -15px;}}
  .priorities__item:not(:last-child){
    margin-right: 30px;
    
  }
  .priorities__item{
    @media screen and (min-width: 480px) {
      max-width: 450px;}
  
  @media screen and (min-width: 768px)and (max-width: 1199px) {
      width      :calc((100% - 60px)/2);
      margin: 15px;}
  
  @media screen and (min-width: 1200px) {
      width :270px}
  }
  .priorities__item:not(:last-child) {
    @media screen and (max-width: 767px){
        margin-bottom: 30px;}
     }
     .priorities__item__card:not(:last-child) {
    @media screen and (min-width: 1200px) {
        margin-right: 30px;}
        }
  
  .priorities__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      text-align: start;}
    
  }
  .priorities__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    text-transform: none;
    
    
  }