.icon-block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var( --rear-background);
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  }
  .priorities{
    padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
  
  &__icon{
    display: flex;
    justify-content: center;
    width: auto;
    height: 70px;
    max-width: 66px;
  }
  &__list{
    display: block;
    @media screen and (min-width: 768px) {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }
  &__item{
    @media screen and (min-width: 768px) {
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
    }}
    &__item:not(:last-child) {
      @media screen and (min-width: 767px){
          }
       }
  &__item:not(:last-child) {
    @media screen and (max-width: 767px){
        }
     }
     &__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
        }
        }
  
  &__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      width: 100%;
      text-align: start;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
    
  }
  &__description {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  
      }
    }
  