.activity{margin-top: 94px;
  
   @media screen and (max-width: 1199px) {
  display: none;}
  &__title{
    font-family:var(--primary-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    color:var(--primary-color);
  }
  &__list{
    display: flex;
   
    margin-top: 50px;
  }
  &__item:not(:last-child){
    margin-right: 30px;
  }
  &__block{
    position: relative;
  }
  &__text{
    position: absolute;
   bottom: 0;
   width: 100%;
   height: 70px;
   background-color: rgba(47, 48, 58, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 1;
  }
  &__description{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
  }
}