    .team{
   background-color: var(--rear-background);
   margin-top: 94px;
  
  &__title{
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 0.8;
    text-align: center;
    color: var(--primary-color);
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.16;}
    }
    &__list{
    display: block;
    @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    }
    
    &__name{
    margin: 0;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--header-color);}
    
    &__position{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;}
          
      
        
    &__item:not(:last-child) {
     @media screen and (max-width: 479px) {
   margin-bottom: 30px;}
        }
      
         
    &__item{
    border-radius: 0px 0px 4px 4px;
    background-color: var(--header-color);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.125),
    0 1px 1px 0 rgba(0, 0, 0, 0.078), 0 1px 3px 0 rgba(0, 0, 0, 0.071);
    @media screen and (min-width: 768px) {
    margin: 15px;
    max-width: 354px;
      }
    }
    &__item:not(:last-child){
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }       
       }
       &__photo {
        max-width: 100%;
    
        @media screen and (min-width: 768px) {
          max-width: 354px;
        }
        @media screen and (min-width: 1200px) {
          max-width: 270px;
        }
      }
        .team-box{
          padding-top: 30px;
          padding-bottom: 24px;}
        &__social-icon{
          display: flex;
          justify-content: center;
          width: 20px;
          height: 20px;
          transition:  fill var(--transit-time) var(--transition-properties);
          
        }
        &__social-list{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin-top: 16px;
          list-style: none;
        }
        &__social-item{
          display: flex;
          align-items: center;
          justify-content: center;
          
        }
        &__social-link{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background-color:var(--header-color);
          fill: #AFB1B8;
          transition: background-color var(--transit-time) var(--transition-properties);
        
        &:focus,
        &:hover  {
        background-color: var(--interactive-color);
        
        }
        &:focus svg,
        &:hover svg{
          fill:var(--header-color);
        }
      }
        &__social-item:not(:last-child){
          margin-right: 10px;
        }
    }